/* === Theme Colors === */
:root {
    --automatika-primary: #E83F3F;
    --automatika-secondary: #447AE5;
    --automatika-black: #1E1E1E;
}

/* === Text color classes === */
.text-red {
    color: var(--automatika-primary);
}

.text-blue {
    color: var(--automatika-secondary);
}

.text-red-strong {
    color: var(--automatika-primary);
    font-weight: bold; }

/* === Global link styling === */
a {
    color: var(--automatika-secondary);
}

a:visited {
    color: var(--automatika-secondary); }

a:hover,
a:focus {
    color: var(--automatika-primary);
    text-decoration: underline; }


blockquote.epigraph {
    font-size: 95%;}


/* === Sidebar icons style === */
/* Light mode */
html[data-theme="light"] a.pst-navbar-icon {
    color: var(--automatika-secondary);
}

/* Dark mode */
html[data-theme="dark"] a.pst-navbar-icon {
    color: var(--automatika-secondary);
}

/* Hover states */
html[data-theme="dark"] a.pst-navbar-icon:hover {
    opacity: 0.85;
    filter: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(120%) contrast(100%);
    }

html[data-theme="light"] a.pst-navbar-icon:hover {
    opacity: 0.85;
    filter: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(60%) contrast(150%);
    }
