name: documentation

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # JOB 1: Build (Runs on PRs and Push)
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          pip install --break-system-packages sphinx myst_parser sphinx-copybutton sphinx-autodoc2 sphinx-design linkify-it-py sphinx-sitemap shibuya

      - name: Sphinx build
        run: |
          sphinx-build docs _build

      # Configure Pages
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      # Upload Artifact
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '_build'

  # JOB 2: Deploy (Runs ONLY on Push to Main)
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    needs: build # This job waits for 'build' to finish successfully
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }} # CRITICAL: Prevents running on PRs
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
