name: documentation

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          pip install --break-system-packages sphinx myst_parser sphinx-copybutton sphinx-autodoc2 linkify-it-py sphinx-sitemap sphinxcontrib-youtube sphinx-design shibuya
      - name: Sphinx build
        run: |
          sphinx-build docs _build

      # Read custom domain from Repo Settings and configures the environment
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      # Uploads the '_build' directory as a compressed artifact
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "_build"

      # Deploy the artifact to Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
